<ion-view>
    <ion-content>
        <ion-list class="">
            <ion-item ng-show="true" ng-repeat="song in songs" 
                      class="item item-thumbnail-left" type="item-text-wrap" 
                      href="#/song/{{song.id}}" >
                <img ng-src="{{ servicerooturl + 'covers/' + song.cover + '.jpg'}}" 
                     class="">
                <h2>{{song.name}}</h2>
                <h4>{{song.genre}}</h4>
                <h4 ng-if="song.genre == 'kirtan'">{{ song.album}}</h4>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
