<ion-view title="Home">
	<ion-content class="padding">
		
		<div class="row">
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-loading-d centericon" ></a></i></div></div>
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-settings centericon" ></a></i></div></div>
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-settings centericon" ></a></i></div></div>
		</div>
		
		<div class="row">
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-loading-d centericon" ></a></i></div></div>
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-settings centericon" ></a></i></div></div>
		</div>

		<div class="row">
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-settings centericon" ></a></i></div></div>
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-settings centericon" ></a></i></div></div>
		</div>

		<div class="row">
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-settings centericon" ></a></i></div></div>
		  <div class="col "><div class="padding tileshadow"><a class="icon ion-settings centericon" ></a></i></div></div>
		</div>

  	</ion-content>
</ion-view>
