<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-background-dark tabs-color-assertive" >

  <!-- Player Tab -->
  <ion-tab title="Player" 
        icon-on="ion-music-note" 
        icon-off="ion-ios7-musical-notes"
        href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Home Tab -->
  <ion-tab title="Home" 
        icon-on="ion-ios7-home" 
        icon-off="ion-ios7-home-outline"
        href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Albums Tab -->
  <ion-tab title="Search" 
        icon-on="ion-ios7-search-strong" 
        icon-off="ion-ios7-search"
        href="#/tab/albums">
    <ion-nav-view name="tab-albums"></ion-nav-view>
  </ion-tab>

</ion-tabs>
