<ion-view>
    <ion-nav-buttons side="left">
        <!--div style="color:#fff;width:200px !important; ">
            <img src="images/ldpi.png"/>
            <b style="position:relative; top:-10px;left:10px; font-size:20px;">{{genre}}</b>
        </div--> 
        <b style="position:relative; top:5px;left:10px; font-size:20px;">{{genre}}</b>
    </ion-nav-buttons>
    <ion-content>
        <!--div  ng-animate="'animate'">
            <div class="row"  ng-repeat="album in albums">
                <div class="col " ng-repeat="name in album" >
                    <a href="#/albumSong/{{name.name}}" style="text-decoration: none;">
                        <div class="padding tileshadow gradient rounded-corner">
                            <center>{{name.name}}</center>
                        </div>
                    </a>
                </div>
                <div class="col " ng-if="album.length == 1"><div class="padding"></div></div>
            </div>
        </div-->

        <ion-list class="" show-delete="data.showDelete">
            <ion-item ng-show="true" ng-repeat="album in albums"
                      class="item item-avtar assertive" type="item-text-wrap" 
                      href="#/albumSong/{{album.name}}" >
                <!--i class="icon ion-music-note"></i-->
                <img ng-src="{{ servicerooturl + 'covers/' + album.cover + '.jpg'}}" 
                     class="" style="width:40px; height:40px;">
                <b style=" position: relative;bottom:15px;">{{album.name}}</b>
                <a ng-click="loadAlbumToQueue('{{album.name}}')" class="button" style="font-size: 20px !important;position: absolute; right:5px; background: transparent;border:0;">
                    <i class="icon ion-ios7-play assertive" style=""></i>
                </a>
            </ion-item>
            <ion-item ng-show="true"
                      class="item item-avtar assertive" type="item-text-wrap" >
            </ion-item>
        </ion-list>

    </ion-content>
    
    <ion-footer-bar align-title="left" class="gradient"  ng-controller="PlayerCtrl">
        <button class="button gradient" style="background: transparent !important;"><img src="{{playerBg}}" style="width:30px;height:30px;position:relative;left:-30%;"/></button>
        <h1 class="title"  id="playerHead" ng-click="openPlayerModal()" ><marquee ng-bind="playingMedia.title"></marquee></h1>
        <button ng-click="resume()" class="button icon ion-ios7-play" ng-if="isPlaying != 1" style="background:transparent;border:0px; color:#fff;"></button>
        <button ng-click="pause()" class="button icon ion-ios7-pause" ng-if="isPlaying == 1" style="background:transparent;border:0px; color:#fff;"></button>
    </ion-footer-bar>
</ion-view>
