<ion-view>
    <ion-nav-buttons side="left">
        <!--div style="color:#fff;width:200px !important; ">
            <img src="images/ldpi.png"/>
            <b style="position:relative; top:-10px;left:10px; font-size:20px;">Bookmarked</b>
        </div-->
        <b style="position:relative; top:5px;left:10px; font-size:20px;">Bookmarked</b>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-minus-outline" style="color:#fff;" 
                ng-click="data.showDelete = !data.showDelete;"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list class="" show-delete="data.showDelete">
            <ion-item ng-show="true" ng-repeat="song in songs" 
                      class="item item-thumbnail-left" type="item-text-wrap" 
                      href="#/song/{{song.id}}" >
                <img ng-src="{{ servicerooturl + 'covers/' + song.cover + '.jpg'}}" 
                     class="">
                <h2>{{song.title}}</h2>
                <h4>{{song.genre}}</h4>
                <h4>{{ song.album}}</h4>
                <ion-delete-button class="ion-minus-circled" 
                                   ng-click="unmark(song)">
                </ion-delete-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
