<ion-view>
    <ion-nav-buttons side="left">
        <!--div style="color:#fff;width:200px !important; ">
            <img src="images/ldpi.png"/>
            <b style="position:relative; top:-10px;left:10px; font-size:20px;">Change Password</b>
        </div-->
        <b style="position:relative; top:5px;left:10px; font-size:20px;">Change Password</b>
    </ion-nav-buttons>
    <ion-content class="padding">
        <form name="changePasswordForm" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="password" name="oldpassword" id="oldpassword" ng-model="oldpassword" placeholder="Old Password" required/>
                </label>
                <label class="item item-input">
                    <input type="password" name="newpassword" id="newpassword" ng-model="newpassword" placeholder="New Password" required/>
                </label>
                <label class="item item-input">
                    <input type="password" name="newrepassword" id="newrepassword" ng-model="newrepassword" placeholder="New Password Again" required/>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block gradient" ng-click="submitForm()"
                        ng-disabled="changePasswordForm.oldpassword && changePasswordForm.oldpassword.$invalid ||
                                    changePasswordForm.newpassword && changePasswordForm.newpassword.$invalid ||
                                    changePasswordForm.newrepassword && changePasswordForm.newrepassword.$invalid ||
                                    newpassword != newrepassword">
                    Change</button>
            </div>
        </form>

    </ion-content>

</ion-view>
