<ion-view>
    <ion-content class="padding">
        <form name="loginForm" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="email" name="email" id="email" ng-model="email" placeholder="Email" required/>
                </label>
                <label class="item item-input">
                    <input type="password" name="password" id="password" ng-model="password" placeholder="Password" required/>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block gradient"   ng-click="submitForm()"
                        ng-disabled="loginForm.email&& loginForm.email.$invalid ||
                        loginForm.password && loginForm.password.$invalid">Submit</button>
            </div>
            <div class="padding">
                <button ng-click="fblogin()" class="button button-block button-positive icon-left ion-social-facebook">Login with Facebook</button>
            </div>

        </form
    </ion-content>

</ion-view>
