<ion-view>
    <ion-nav-buttons side="left">
        <!--div style="color:#fff;width:200px !important; ">
            <img src="images/ldpi.png"/>
            <b style="position:relative; top:-10px;left:10px; font-size:20px;">Login</b>
        </div-->
        <b style="position:relative; top:5px; left:10px; font-size:20px;">Login</b>
    </ion-nav-buttons>
    <ion-content class="padding" style="background: url(images/bg.jpg);background-size: 100% 100%;background-attachment:fixed;">
        




    </ion-content>
    <ion-footer-bar class="gradient">
        <div class="button-bar">
            <a style="background: transparent !important;" class="button gradient icon-left ion-android-social-user" href="#/login">Login</a>
            <a style="background: transparent !important;" class="button gradient icon-right ion-android-send" href="#/register">Register</a>
        </div>
    </ion-footer-bar>
</ion-view>
