<ion-view>
    <!--search-bar ng-model="search"></search-bar-->
    <ion-nav-buttons side="left">
        <div style="color:#fff;width:200px !important; ">
            <img src="images/ldpi.png"/>
            <b style="position:relative; top:-10px;left:10px; font-size:20px;">Kirtan Bhakti</b>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--button ui-sref="search" class="button icon ion-ios7-search-strong" style="background:transparent;border:0px;"></button-->
        <button ng-click="openSearchModal()" ng-controller="SearchCtrl" class="button icon ion-search" style="background:transparent;border:0px;color:#fff;"></button>
        <button ng-click="showSettings()" class="button icon ion-android-settings" style="background:transparent;border:0px;color:#fff;"></button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="row">
            <div class="col "><div class="padding tileshadow gradient rounded-corner" ui-sref="top15"><center>Top 15</center></div></div>
            <div class="col "><div class="padding tileshadow gradient rounded-corner" ng-controller="SurprisemeCtrl" ng-click="loadQueuePlay()"><center>Surprise Me</center></div></div>
        </div>

        <div class="row">
            <div class="col " ng-if="!loggedIn">
                <div class="padding tileshadow gradient rounded-corner" id="loginTile" ui-sref="loginMenu">
                    <center>Login</center>
                </div>
            </div>

            <div class="col " ng-if="loggedIn && !profilePicture"><div class="padding tileshadow gradient rounded-corner" ui-sref="mystore"><center>My Store</center></div></div>

            <div class="col " ng-if="loggedIn && profilePicture">
                <div style="background-image:url('{{profilePicture}}') !important;" class="padding tileshadow loginTile rounded-corner" ui-sref="mystore">
                    <center>My Store</center>
                </div>
            </div>

            <div class="col ">
                <a href="#/album/kirtan" style="text-decoration: none;">
                    <div class="padding tileshadow gradient rounded-corner">
                        <center>Kirtan</center>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col ">
                <a href="#/album/katha" style="text-decoration: none;">
                    <div class="padding tileshadow gradient rounded-corner">
                        <center>Katha</center>
                    </div>
                </a>
            </div>
            <div class="col "><div class="padding tileshadow gradient rounded-corner" ui-sref="radio"><center>Radio</center></div></div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="gradient"  ng-controller="PlayerCtrl">
        <button class="button gradient" style="background: transparent !important;"><img src="{{playerBg}}" style="width:30px;height:30px;position:relative;left:-30%;"/></button>
        <h1 class="title"  id="playerHead" ng-click="openPlayerModal()" ><marquee ng-bind="playingMedia.title"></marquee></h1>
        <button ng-click="resume()" class="button icon ion-ios7-play" ng-if="isPlaying != 1" style="background:transparent;border:0px; color:#fff;"></button>
        <button ng-click="pause()" class="button icon ion-ios7-pause" ng-if="isPlaying == 1" style="background:transparent;border:0px; color:#fff;"></button>
    </ion-footer-bar>
</ion-view>

