<ion-view>
    <!--search-bar ng-model="search"></search-bar-->
    <ion-nav-buttons side="left">
        <div style="color:#fff;width:200px !important; ">
            <img src="images/ldpi.png"/>
            <b style="position:relative; top:-10px;left:10px; font-size:20px;">Kirtan Bhakti</b>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--button ui-sref="search" class="button icon ion-ios7-search-strong" style="background:transparent;border:0px;"></button-->
        <button ng-click="openSearchModal()" ng-controller="SearchCtrl" class="button icon ion-search" style="background:transparent;border:0px;color:#fff;"></button>
        <button ng-click="showSettings()" class="button icon ion-android-settings" style="background:transparent;border:0px;color:#fff;"></button>
    </ion-nav-buttons>

    <ion-content class="">
        <div class="row padding">
            <div class="col padding"></div>
        </div>
        <div class="row padding">
            <div class="col padding"></div>
        </div>
        <div class="row">
            <div class="col ">
                <div style="background-image:url('images/default.png') !important;" class="tile-height-3 loginTile  rounded-corner" ui-sref="top15">
                    <center>
                        <br/>
                        <i class="ion-fireball tile-icon"></i><br/>
                        Top 15
                    </center>
                </div>
            </div>
            <div class="col ">
                <div style="background-image:url('images/default.png') !important;" class="tile-height-3 loginTile  rounded-corner" ng-controller="SurprisemeCtrl" ng-click="loadQueuePlay()">
                    <center>
                        <br/>
                        <i class="ion-shuffle tile-icon"></i><br/>
                        Surprise Me              
                    </center>
                </div>
            </div>
            <div class="col ">
                <div style="background-image:url('images/default.png') !important;" class="tile-height-3 loginTile  rounded-corner" ui-sref="downloaded">
                    <center>
                        <br/>
                        <i class="icon ion-ios7-cloud-download tile-icon"></i><br/>
                        Downloaded
                    </center>
                </div>
            </div>
        </div>
        
        <div class="row padding">
            <div class="col padding"></div>
        </div>
        
        <div class="row">
            <div class="col " ng-if="!loggedIn">
                <div style="background-image:url('images/default.png') !important;" class="tile-height-2  loginTile rounded-corner" id="loginTile" ui-sref="loginMenu">
                    <center>
                        <br/><br/>
                        <i class="ion-person tile-icon"></i>
                    </center>
                </div>
            </div>

            <div class="col " ng-if="loggedIn && !profilePicture">
                <div class="tile-height-2  loginTile rounded-corner" ui-sref="mystore">
                    <!--center><br/>
                        My Store<br/>
                        <i class="ion-person tile-icon"></i>
                    </center-->
                    <img src="images/mystore.png" style="width:100%;height:100%;"/>
                </div>
            </div>

            <div class="col " ng-if="loggedIn && profilePicture">
                <div style="background-image:url('{{profilePicture}}') !important;" class="tile-height-2  loginTile rounded-corner" ui-sref="mystore">
                    <center>
                        <!--My Store<br/>
                        <i class="ion-person tile-icon"></i-->
                    </center>
                </div>
            </div>

            <!--div class="col ">
                <a href="#/album/kirtan" style="text-decoration: none;">
                    <div class="  gradient rounded-corner">
                        <center>Kirtan</center>
                    </div>
                </a>
            </div-->
            <div class="col ">
                <a href="#/album/kirtan" style="text-decoration: none;">
                    <div class="tile-height-2 rounded-corner loginTile"> <!-- style="background-image: url('images/kirtan.jpg');">
                        <center>Kirtan</center-->
                        <img src="images/kirtan.png" id="kirtanTile" style="width:100%;height:100%;"/>
                    </div>
                </a>
            </div>
        </div>

        
        <div class="row">
            <div class="col ">
                <a href="#/album/katha" style="text-decoration: none;">
                    <div class="tile-height-2  loginTile rounded-corner">
                        <!--center>Katha</center-->
                        <img src="images/katha.png" id="kathaTile" style="width:100%;height:100%;"/>
                    </div>
                </a>

            </div>
            <div class="col ">
                <div class="tile-height-2 loginTile  rounded-corner" ui-sref="radio">
                    <!--center>
                        Radio<br/>
                        <i class="ion-radio-waves tile-icon"></i>
                    </center-->
                    <img src="images/radio.png" id="radioTile" style="width:100%;height:100%;"/>
                </div>
            </div>
        </div>
        
        <div class="row padding">
            <div class="col padding"></div>
        </div>
        
        <div class="row padding">
            <div class="col padding"></div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="gradient"  ng-controller="PlayerCtrl">
        <button class="button gradient" style="background: transparent !important;"><img src="{{playerBg}}" style="width:30px;height:30px;position:relative;left:-30%;"/></button>
        <h1 class="title"  id="playerHead" ng-click="openPlayerModal()" ><marquee ng-bind="playingMedia.title"></marquee></h1>
        <button ng-click="resume()" class="button icon ion-ios7-play" ng-if="isPlaying != 1" style="background:transparent;border:0px; color:#fff;"></button>
        <button ng-click="pause()" class="button icon ion-ios7-pause" ng-if="isPlaying == 1" style="background:transparent;border:0px; color:#fff;"></button>
    </ion-footer-bar>
    <style>
        .tile-height-2{
            height:150px !important;
            margin: 0 !important;
            font-size:15px !important;
           // padding:10px;
        }
        .tile-height-2 .tile-icon{
            font-size: 6em !important;
        }
        .tile-height-3{
            margin: 0 !important;
            height:100px !important;
            font-size:15px !important;
        }
        .tile-height-3 .tile-icon{
            font-size: 3em !important;
        }
    </style>
</ion-view>

