<ion-view>
    <ion-content class="padding">

        <div class="row">
            <div class="col "><div class="padding tileshadow gradient rounded-corner" ui-sref="changePassword"><center>Change Password</center></div></div>
            <div class="col "><div class="padding tileshadow gradient rounded-corner" ui-sref="downloaded"><center>Downloaded</center></div></div>
        </div>

        <div class="row">
            <div class="col "><div class="padding tileshadow gradient rounded-corner" ui-sref="playlistMenu"><center>Playlists</center></div></div>
            <div class="col "><div class="padding tileshadow gradient rounded-corner" ui-sref="bookmarked"><center>Bookmarked</center></div></div>
        </div>
        
    </ion-content>
</ion-view>
