<ion-view>
    <ion-nav-buttons side="left">
        <!--div style="color:#fff;width:200px !important; ">
            <img src="images/ldpi.png"/>
            <b style="position:relative; top:-10px;left:10px; font-size:20px;">My Store</b>
        </div-->
        <b style="position:relative; top:5px;left:10px; font-size:20px;">Mystore</b>
    </ion-nav-buttons>
    <ion-content class="padding">

        <div class="row">
            <div class="col ">
                <div style="background-image:url('images/default.png') !important;" class="tile-height-2  loginTile rounded-corner tileshadow" id="loginTile" ui-sref="changePassword">
                    <center>
                        <br/>
                        Change Password<br/>
                        <i class="icon ion-person tile-icon"></i>
                    </center>
                </div>
            </div>
            <div class="col ">
                <div style="background-image:url('images/default.png') !important;" class="tile-height-2  loginTile rounded-corner tileshadow" id="loginTile" ui-sref="downloaded">
                    <center>
                        <br/>
                        Downloaded<br/>
                        <i class="icon ion-ios7-cloud-download tile-icon"></i>
                    </center>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col ">
                <div style="background-image:url('images/default.png') !important;" class="tile-height-2  loginTile rounded-corner tileshadow" id="loginTile" ui-sref="playlistMenu">
                    <center>
                        <br/>
                        Playlists<br/>
                        <i class="icon ion-clipboard tile-icon"></i>
                    </center>
                </div>
            </div>
            <div class="col ">
                <div style="background-image:url('images/default.png') !important;" class="tile-height-2  loginTile rounded-corner tileshadow" id="loginTile" ui-sref="bookmarked">
                    <center>
                        <br/>
                        Bookmarked<br/>
                        <i class="icon ion-pin tile-icon"></i>
                    </center>
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>
