<ion-modal-view id="playerModal" style="background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('images/icon.png') repeat 0 0; background-attachment:fixed;background-size:100% 100%;">
    <ion-header-bar id="playerModalHead" class="gradient">
        <h1 class="title" ng-click="closePlayerModal()">My Modal title</h1>
        <button class="button button-icon icon ion-ios7-minus-outline" style="color:#fff;" 
                ng-click="data.showDelete = !data.showDelete;"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list class="" show-delete="data.showDelete">
            <ion-item ng-show="true" ng-repeat="song in songs" 
                      class="item item-thumbnail-left " type="item-text-wrap" 
                      ng-click="play({{song}})" >
                <img ng-src="{{ servicerooturl + 'covers/' + song.cover + '.jpg'}}" 
                     class="">
                <h2>{{song.title}}</h2>
                <h4>{{song.genre}}</h4>
                <h4>{{ song.album}}</h4>
                <ion-delete-button class="ion-minus-circled" ng-click="removeFromQueue(song)">
                </ion-delete-button>
                <ion-option-button class="" ng-click="openSongPage('/song/{{song.id}}')" style="vertical-align: middle !important;">
                    <i class="ion-chevron-right assertive" style="font-size:5em;"></i>
                </ion-option-button>
            </ion-item>
            <ion-item ng-show="true"
                      class="item item-thumbnail-left " type="item-text-wrap" 
                      href="#"  style="border-bottom:0">

            </ion-item>
        </ion-list>
    </ion-content>
    
    <ion-footer-bar class="" style="background: transparent;">

        <div class="bar bar-subfooter player-bar" style="border:0;">
            <div style="border:0; width:100%;" class="player">
                <a href="#" class="button button-player" style="float:left;"><i class="ion-refresh"></i></a>
                <a href="#" class="button button-player" style="float:right;"><i class="ion-shuffle"></i></a>
                <center>
                    <a href="#" class="button button-player"><i class="ion-ios7-skipbackward "></i></a>
                    <a href="#" class="button button-player"><i class="ion-ios7-play"></i></a>
                    <a href="#" class="button button-player"><i class="ion-ios7-skipforward "></i></a>
                </center>

            </div>
        </div> 
        <div class="bar bar-footer range range-energized player-bar" style="border:0;">
            <i class="">0</i>
            <input type="range" name="volume" min="0" max="100" value="{{slider.rangeValue}}" ng-model="slider.rangeValue" style="border:0;">
            <i class="">100</i>
        </div>
    </ion-footer-bar>
    
    <style>
        .player .button-player{
            border-radius: 50% !important; 
            color:rgb(202,74,35) !important;
            border:0 !important;
            background: transparent !important;
            font-size:2em;
        }
        .player-bar{
            border:0 !important;
            background: rgba(202,74,35,.2) !important;   
        }
        .songList{
            background: rgba(202,74,35,.2) !important;   
        }
    </style>
</ion-modal-view>