<ion-view>

    <ion-nav-buttons side="left">
        <!--div style="color:#fff;width:200px !important; ">
            <img src="images/ldpi.png"/>
            <b style="position:relative; top:-10px;left:10px; font-size:20px;">Top 15</b>
        </div-->        
        <b style="position:relative; top:5px;left:10px; font-size:20px;">Top15</b>
    </ion-nav-buttons>

    <ion-content class="">

        <ion-list class="">
            <ion-item ng-show="true" ng-repeat="song in songs" 
                      class="item item-thumbnail-left" type="item-text-wrap" 
                      href="#/song/{{song.id}}" >
                <img ng-src="{{ song.coverpath}}" 
                     class="">
                <h2 style="width:65%;">{{song.title}}
                <a ng-click="download({{song}})" class="button" style="font-size: 4em !important;position: absolute; right:55px; background: #fff;border:0;">
                    <i class="icon ion-android-download" style=""></i>
                </a>
                <a ng-click="gotoSong('/song/{{song.id}}')" class="button" style="font-size: 4em !important;position: absolute; right:0; background: #fff;border:0;">
                    <i class="icon ion-ios7-arrow-forward" style=""></i>
                </a></h2>
                <h4 style="width:65%;">{{ song.album}}</h4>
                <h4>Total <b>{{ song.timesPlayed}}</b> times Played</h4>
            </ion-item>
            <ion-item ng-show="true"
                      class="item item-thumbnail-left" type="item-text-wrap">
                </ion-item>
        </ion-list>
        <!--a class="button" ng-click="goBack()">back</a>
        <!--ion-list ng-controller="MyCtrl"
  show-delete="shouldShowDelete"
  show-reorder="shouldShowReorder"
  can-swipe="listCanSwipe">
<ion-item ng-repeat="item in items"
    class="item-thumbnail-left">

<img ng-src="{{item.img}}">
<h2>{{item.title}}</h2>
<p>{{item.description}}</p>
<ion-option-button class="button-positive"
               ng-click="share(item)">
Share
</ion-option-button>
<ion-option-button class="button-info"
               ng-click="edit(item)">
Edit
</ion-option-button>
<ion-delete-button class="ion-minus-circled"
               ng-click="items.splice($index, 1)">
</ion-delete-button>
<ion-reorder-button class="ion-navicon"
                on-reorder="reorderItem(item, $fromIndex, $toIndex)">
</ion-reorder-button>

</ion-item>
</ion-list-->

    </ion-content>
    
    <ion-footer-bar align-title="left" class="gradient"  ng-controller="PlayerCtrl">
        <button class="button gradient" style="background: transparent !important;"><img src="{{playerBg}}" style="width:30px;height:30px;position:relative;left:-30%;"/></button>
        <h1 class="title"  id="playerHead" ng-click="openPlayerModal()" ><marquee ng-bind="playingMedia.title"></marquee></h1>
        <button ng-click="resume()" class="button icon ion-ios7-play" ng-if="isPlaying != 1" style="background:transparent;border:0px; color:#fff;"></button>
        <button ng-click="pause()" class="button icon ion-ios7-pause" ng-if="isPlaying == 1" style="background:transparent;border:0px; color:#fff;"></button>
    </ion-footer-bar>
</ion-view>
